body {
    background-color: black;
   }
p {
    color: white;
   }
div.jumbotron{
    background-image: url("ml2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}
hr {
    border: 1px solid white;
  }
.header-col-group {
    display: flex;
    align-items: center;
    padding: 20px;
}
.header-col-group > div:first-child{
    width: 20%;
}
.header-col-group > div:last-child{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.main-logo img{
    width: 50px !important;
    height: 50px !important;
}
.navbar-toggler {
    background: #ccc !important;
}
.fa-bars{
    color:#fff;
    font-size: 30px !important;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    position: static;
  } 
@media(min-width: 769px){
}
@media(min-width: 769px){
    .main-menu{
        display: block;
        visibility: visible;
    }
    
    .mobile-menu{
        display: none;
    }
}
@media(max-width: 768px){
    .main-menu{
        display: none;
        visibility: hidden;
    }
}